{% extends "pacertracker/base.html" %}

{% block title %}PACER Tracker - Reset password{% endblock %}

{% block content %}
<div class="container" id="container-basic">
	<h2>Reset password</h2>
	<p>Please specify your email address to receive instructions for resetting your password.</p>

	<form action="" method="post">
		<fieldset>
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>
		<div class="form-group">
			{{ form.email.errors }}
			<label for="id_email">E-mail address:</label> 
			<input id="id_email" class="form-control" maxlength="254" name="email" type="text" placeholder="Email"/>
		</div>
		<button type="submit" value="Reset password" class="btn btn-default">Submit</button>
		</fieldset>
	</form>

</div> <!-- container -->
{% endblock content%}