{% extends "pacertracker/base.html" %}

{% block title %}PACER Tracker - Set new password{% endblock %}

{% block content %}
<div class="container" id="container-basic">
	<h2>Set new password</h2>
    {% if validlink %}

        <p>Enter your new password twice to confirm it has been typed correctly.</p>

        <form action="" method="post">
		<fieldset>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
			{{ form.new_password1.errors }}
			{{ form.new_password2.errors }}
			<div class="form-group">
				<label for="id_new_password1">New password:</label>
				<input type="password" class="form-control" id="id_new_password1" name="new_password1" />
			</div>
			<div class="form-group">
				<label for="id_new_password2">Confirm password:</label>
				<input type="password" class="form-control" id="id_new_password2" name="new_password2" />
			</div>
			<button type="submit" value="Change password" class="btn btn-default">Submit</button>
		</fieldset>
        </form>

    {% else %}
        <h2>Password reset unsuccessful</h2>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

</div> <!-- container -->
{% endblock content%}